# Exclude editor files
.*.sw[op]
*~
/.idea/
\#*
.\#*
*TODO*
!.git*

# Artifacts from vendor parts in testing
_icingaweb2/
_libraries/
.phpunit.cache/
.phplint.cache/
/docker-compose.yml
/*.phar
/Icinga
/Zend
/vendor
