version: '2'

services:
  web:
    image: lazyfrosch/icingaweb2:dev
    ports:
      - 8080:80
    links:
      - db
    volumes:
      - ./test/config:/etc/icingaweb2
      - ./vendor/icingaweb2:/usr/share/icingaweb2
      - .:/usr/share/icingaweb2/modules/toplevelview

  db:
    image: mariadb
    volumes:
      - db_data:/var/lib/mysql
      - ./test/docker/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - 3310:3306
    environment:
      MYSQL_ROOT_PASSWORD: onlyforadmin
      MYSQL_DATABASE: icingaweb2
      MYSQL_USER: icingaweb2
      MYSQL_PASSWORD: rosebud

volumes:
  db_data:
